
# Ignore Terraform backup files
terraform.tfstate.backup

# Ignore variable definitions and secrets
*.json  # (Assumes you might store service account key files)

# Ignore Terraform CLI folders
.terraform/

# Crash logs
crash.log
